/* Created by: Gabriel
* Created on: March 2024
* This file contains the CSS for index.html
*/


.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.body {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  background-color: forestgreen;
}

.right-image {
  float: right;
}